

.tab :active {
background: #2c4b80ff !important;
}
.tab :hover {
background: #2c4b80ff !important;
}


body {
  color: #011537;
  background: white;
}
h1, label {
  text-align: cleft;
  font-family: Roboto;

}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
    border: 3px solid white;
  border-radius: 15px;

}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #011537;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: white;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #e6e6e6;
  -webkit-transition: max-height .8s;
  -o-transition: max-height .8s;
  transition: max-height .8s;

}
.blue .tab-content {
  background: #011537;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg); opacity: 0.5;
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
